.hero {
  position: relative;
  margin-right: auto;
  margin-left: auto;

  @media screen and (max-width: 767.98px) {
    max-width: 480px;
  }

  @media screen and (min-width: 768px) {
    max-width: 768px;
  }

  @media screen and (min-width: 1280px) {
    max-width: 1280px;
  }
}

.hero__content {
  position: absolute;
  top: 50%;
  z-index: 5;
  transform: translateY(-50%);

  @media screen and (max-width: 767.98px) {
    left: 30px;
    max-width: calc(100% / 4 * 3);
  }

  @media screen and (min-width: 768px) {
    left: 120px;
    max-width: calc(100% / 5 * 3);
  }

  @media screen and (min-width: 1280px) {
    left: 100px;
    max-width: calc(100% / 11 * 5);
  }
}

.hero__title {
  margin-bottom: 20px;
  font-family: var(--title-font-family);
  font-weight: 700;
  font-size: 48px;
  line-height: 1.167;
  letter-spacing: 0.05em;
  color: var(--title-text-color--light);

  @media screen and (min-width: 1280px) {
    font-size: 72px;
    line-height: 1.181;
  }
}

.hero__desc {
  font-size: 16px;
  line-height: 1.625;
  letter-spacing: 0.02em;
  color: var(--main-text-color--light);

  @media screen and (min-width: 1280px) {
    font-size: 18px;
    line-height: 1.667;
  }
}

.sidebar {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: flex-end;

  @media screen and (max-width: 767.98px) {
    display: none;
  }

  @media screen and (min-width: 768px) {
    width: 155px;
  }
}

.sidebar__socials {
  transform: rotate(-90deg) translateX(50%);
}
